@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400;1,500&family=Roboto:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    /* background color */
    --primary-color:#318ce7;
    --lightsalmon:LightSalmon;
    --salmon:Salmon;
    --salmon-second:rgba(78, 143, 143, 0.605);
    --pre-orange:#FF7F50;
    --light-gray:#CCCCFF;
    --dark-chocolate:#641E16;
    --pre-green:#2ECC71;
    --royalblue:#05000d;
    --bgwhite:#fffffff;
    --redbg:red;
  
    /* text-color */
    --textblack:black;
    --mateblack:#28282B;
    --textorange:	#ff4800;
    --textprimary:#066ebd;
    --text-second-primary:#0092ff;
    --premiere-pink:#ec186f;
    --whitetext:#ffff; 
    --textblackgray:hsl(0, 0%, 7%); 
    --textmatewhite:#E5E7E9;
    --textwhiteberry:#b9cde4;

    /* padding 20px */
    --padding-inline-section:20px
  }
  /* predifend Element utility  */
  p{
    font-family: 'Poppins',sans-serif;
    color: var(--textmatewhite);
    line-height: 1.4rem;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }

  /* utility class */
  .flex{
    display: flex;
    align-items: center;
  }
  .text-bold{
    font-weight: 700;
    font-size: 1rem;
  }
  .banner-text{
    color: var(--textmatewhite);
    padding: 5px 30px;
    text-align: center;
  }
  .container{
    max-width: 1500px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
    overflow: hidden;
  }
  .hover-link{
    color:var(--textmatewhite);
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease-in;
  }
  .hover-link{
  color:var(--whitetext);
  }
  .text-color{
    color: var(--textwhiteberry);
  }
  .primary-btn{
    
      appearance:none;
      background-color: rgb(0, 0, 0);
      background-image: transparent;
      border: 1px solid black;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0px 1px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 20px;
      margin: 0 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
  }
  .btn-main:focus{
      text-decoration: none;
  }
  .main-btn:hover{
      text-decoration: none;
  }
  .main-btn:active{
  box-shadow: black 0 10px 10px inset;
  }
  .main-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 10px);
}
  