@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400;1,500&family=Roboto:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--royalblue);

}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    /* background color */
    --primary-color:#318ce7;
    --lightsalmon:LightSalmon;
    --salmon:Salmon;
    --salmon-second:rgba(78, 143, 143, 0.605);
    --pre-orange:#FF7F50;
    --light-gray:#CCCCFF;
    --dark-chocolate:#641E16;
    --pre-green:#2ECC71;
    --royalblue:#05000d;
    --bgwhite:#fffffff;
    --redbg:red;
  
    /* text-color */
    --textblack:black;
    --mateblack:#28282B;
    --textorange:	#ff4800;
    --textprimary:#066ebd;
    --text-second-primary:#0092ff;
    --premiere-pink:#ec186f;
    --whitetext:#ffff; 
    --textblackgray:hsl(0, 0%, 7%); 
    --textmatewhite:#E5E7E9;
    --textwhiteberry:#b9cde4;

    /* padding 20px */
    --padding-inline-section:20px
  }
  /* predifend Element utility  */
  p{
    font-family: 'Poppins',sans-serif;
    color: var(--textmatewhite);
    line-height: 1.4rem;
  }
  .href{
    text-decoration: none;
    font-weight: 500;
  }
  ul{
    list-style: none;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    font-size: 1.5rem;
  }

  /* utility class */
  .flex{
    display: flex;
    align-items: center;
  }
  .text-bold{
    font-weight: 700;
    font-size: 1rem;
  }
  .banner-text{
    color: var(--mateblack);
    padding: 5px 30px;
    text-align: center;
  }
  .container{
    max-width: 1500px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
  }
  .hover-link{
    color:var(--textmatewhite);
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease-in;
  }
  .hover-link{
  color:var(--whitetext);
  }
  .text-color{
    color: var(--textwhiteberry);
  }
  .primary-btn{
    
      appearance:none;
      background-color: rgb(0, 0, 0);
      background-image: transparent;
      border: 1px solid black;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0px 1px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 20px;
      margin: 0 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      text-decoration: none;
  }
  .primary-btn:focus{
      text-decoration: none;
  }
  .primary-btn:hover{
      text-decoration: none;
  }
  .primary-btn:active{
  box-shadow: black 0 10px 10px inset;
  }
  .primary-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(1px, 1px);
}
/* secondry-btn */

.secondary-btn{
    
  appearance:none;
  background-color: rgb(0, 0, 0);
  background-image: transparent;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0px 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}
.secondary-btn:focus{
  text-decoration: none;
}
.secondary-btn:hover{
  text-decoration: none;
}
.secondary-btn:active{
box-shadow: black 0 10px 10px inset;
}
.secondary-btn:not([disabled]):active {
box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
transform: translate(1px, 1px);
}
/* top banner  */
.top-banner{
  background-image: url(image/topbanner.png);
  background-size: 100px;
  background-origin: padding-box;
  background-position: center top;
  background-position-x: center;
  background-repeat: repeat;
background-blend-mode: lighten;
background-color:#ff0048;
}
.main-top{
  color: white;
}
.main-logo{
  width: 48px;
  display: inline-block;
  
}
/* navbar */
.main-nav{
  justify-content: space-between;
  padding: 0;
  
}
.nav-links ul{
  gap: 70px;

}
.nav-links a{
  appearance: none;
  padding: 10px 10px;
  color: var(--textmatewhite);
  
}


.nav-toggle{
  display: none;
}

/* dropdown */
.courses{
  position: relative;
}
.dropdown{
  background-color: #0092ff;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius:8px;
  top: 35px;
}
/* navbar end*/

/* header start */
.big-img{
  padding: 3px var(--padding-inline-section) 0;
  background-image: url(image/banner\ img.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  min-width: none;
  background-size:  contain;
  height: 716px; 
  justify-content: center;
  align-items: center;

}
.header-list{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 404px;
  left: 1070px;
  
  column-gap: 10px;
  border: 1px solid white;
  background-color: transparent;

  
}
.pri-btn,.secon-btn{
padding: 5px 24px ;
}
/* header end */

  